In [2]:
import numpy as np 
import pandas as pd 
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory
import os
import torch

In [7]:
y = np.array([0, 2])
y_hat = np.array([[0.1, 0.3, 0.6], [0.3, 0.2, 0.5]])
y_hat[[0, 1],[0,1]]
len(y_hat)

2

In [3]:
for dirname, _, filenames in os.walk('./bigdata2021-rl-recsys'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

./bigdata2021-rl-recsys\item_info.csv
./bigdata2021-rl-recsys\track1_testset.csv
./bigdata2021-rl-recsys\track2_testset.csv
./bigdata2021-rl-recsys\trainset.csv

In [4]:
trainset = pd.read_csv('./bigdata2021-rl-recsys/trainset.csv',' ')
trainset.head()

,user_id,user_click_history,user_protrait,exposed_items,labels,time
0,1,"30:1580603130,34:1581178937,15:1581178939,28:1...","64054,21804,80911,36504,8867,7615,54240,37294,...","1,20,28,99,86,119,213,237,164","1,1,1,1,1,1,1,1,1",1582992009
1,2,"20:1580644762,13:1580644765,1:1580644770,127:1...","64054,26565,93755,88510,6344,7615,54240,21927,...","1,4,26,112,86,117,191,234,172","1,1,1,1,1,1,1,1,0",1582992010
2,3,"39:1580772975,6:1580772981,1:1581178309,2:1581...","64054,64086,63021,88510,93500,7615,54240,21927...","22,4,28,48,105,42,193,236,159","1,1,1,0,1,0,0,0,0",1582992014
3,4,"6:1580657608,9:1580657612,15:1580657615,127:15...","64054,21531,6599,16721,37078,7615,54240,65505,...","5,16,1,74,133,122,235,218,172","1,1,1,1,1,1,1,1,0",1582992014
4,5,"37:1580743545,36:1580743554,25:1580743556,37:1...","64054,66036,6599,88510,76066,20543,83978,37294...","6,1,16,85,73,112,239,172,205","1,1,1,1,1,1,1,1,1",1582992017

In [5]:
track1_testset = pd.read_csv('./bigdata2021-rl-recsys/track1_testset.csv',' ')
track1_testset.head()

,user_id,user_click_history,user_protrait,exposed_items,labels,time
0,1,"24:1580573710,7:1580573724,1:1580573730,127:15...","64054,50887,66367,44932,59460,20543,83978,5013...","3,5,29,72,53,52,164,211,172","0,0,0,0,0,0,0,0,0",1582992008
1,2,"35:1580629376,9:1580629379,2:1580629381,73:158...","64054,35323,6599,36504,24180,37350,83978,21927...","22,29,25,132,73,108,188,213,164","0,0,0,0,0,0,0,0,0",1582992009
2,3,"35:1580804903,32:1580804915,39:1581268224,33:1...","64054,67884,6599,16721,17121,38762,83978,37294...","29,35,14,61,51,106,150,148,234","0,0,0,0,0,0,0,0,0",1582992019
3,4,"15:1580688381,5:1580688385,39:1580688388,39:15...","64054,23083,93755,36504,35011,37350,83978,3729...","29,27,35,99,79,107,213,200,152","0,0,0,0,0,0,0,0,0",1582992024
4,5,"29:1580906648,18:1580906650,10:1580906652,139:...","64054,32125,93755,36504,37741,7615,54240,21927...","4,8,28,102,61,86,151,235,199","0,0,0,0,0,0,0,0,0",1582992027

In [6]:
trainset['new'] = trainset.iloc[:,1].apply(lambda x: x.split(','))
trainset.head()

,user_id,user_click_history,user_protrait,exposed_items,labels,time,new
0,1,"30:1580603130,34:1581178937,15:1581178939,28:1...","64054,21804,80911,36504,8867,7615,54240,37294,...","1,20,28,99,86,119,213,237,164","1,1,1,1,1,1,1,1,1",1582992009,"[30:1580603130, 34:1581178937, 15:1581178939, ..."
1,2,"20:1580644762,13:1580644765,1:1580644770,127:1...","64054,26565,93755,88510,6344,7615,54240,21927,...","1,4,26,112,86,117,191,234,172","1,1,1,1,1,1,1,1,0",1582992010,"[20:1580644762, 13:1580644765, 1:1580644770, 1..."
2,3,"39:1580772975,6:1580772981,1:1581178309,2:1581...","64054,64086,63021,88510,93500,7615,54240,21927...","22,4,28,48,105,42,193,236,159","1,1,1,0,1,0,0,0,0",1582992014,"[39:1580772975, 6:1580772981, 1:1581178309, 2:..."
3,4,"6:1580657608,9:1580657612,15:1580657615,127:15...","64054,21531,6599,16721,37078,7615,54240,65505,...","5,16,1,74,133,122,235,218,172","1,1,1,1,1,1,1,1,0",1582992014,"[6:1580657608, 9:1580657612, 15:1580657615, 12..."
4,5,"37:1580743545,36:1580743554,25:1580743556,37:1...","64054,66036,6599,88510,76066,20543,83978,37294...","6,1,16,85,73,112,239,172,205","1,1,1,1,1,1,1,1,1",1582992017,"[37:1580743545, 36:1580743554, 25:1580743556, ..."

In [7]:
np.array(trainset.iloc[2, 4][2:-2].split(','), dtype = np.float64)

array([1., 1., 0., 1., 0., 0., 0.])

In [8]:
prot = track1_testset.iloc[:,2].apply(lambda x: x.split(','))
prot.values

array([list(['64054', '50887', '66367', '44932', '59460', '20543', '83978', '50138', '74820', '58670']),
       list(['64054', '35323', '6599', '36504', '24180', '37350', '83978', '21927', '74820', '2517']),
       list(['64054', '67884', '6599', '16721', '17121', '38762', '83978', '37294', '74820', '66857']),
       ...,
       list(['64054', '5205', '6599', '36504', '65289', '7615', '54240', '37294', '74820', '46333']),
       list(['64054', '33685', '6599', '36504', '56754', '7615', '54240', '37294', '74820', '12573']),
       list(['64054', '33685', '6599', '36504', '56754', '7615', '54240', '37294', '74820', '12573'])],
      dtype=object)

In [9]:
prot = track1_testset.iloc[:,2]
# num_protrait = [int(var) for var in protrait.split(',')]
# num_protrait
# List = prot.values
List = [l.split(",") for l in prot.values]
for i in range(len(List)):
    List[i] = list(map(int, List[i]))
test = np.array(List)
prot2 = trainset.iloc[:,2]
# num_protrait = [int(var) for var in protrait.split(',')]
# num_protrait
# List = prot.values
List = [l.split(",") for l in prot.values]
for i in range(len(List)):
    List[i] = list(map(int, List[i]))
train = np.array(List)
# np.concatenate(train,test)

In [10]:
ids = np.random.randint(0, 100, size=10)
ids = [str(idx) for idx in ids]
embeddings = np.random.randn(100, 30)
id_emb_dic = dict(zip(ids, embeddings))
id_emb_dic, embeddings

({'69': array([ 0.11302937, -1.2427635 ,  0.56223025,  0.62507848,  0.27019351,
          0.82506267, -0.03710976,  1.80565796,  0.13862625, -0.87393205,
         -0.35602589, -0.42787888,  0.08557444,  0.86987458,  1.84991786,
         -1.22438771,  2.12019887,  0.44612795, -0.03688714, -0.17676461,
         -0.32402831,  0.14501392, -0.33738512,  0.19734902,  0.42587444,
         -0.45554242, -0.21774231, -0.53624293,  0.43331138,  2.25409871]),
  '2': array([ 0.47365211, -1.08851437,  1.98866311,  1.24040965,  1.66459316,
         -0.54710721, -0.24956306, -2.44086944,  1.81247402, -2.50015117,
          0.77362266, -0.60291158, -0.23743778,  0.16266342,  0.19870642,
         -1.6156946 , -0.42502479,  0.12926186,  0.86916859, -0.50969135,
          0.23127609,  0.02848537, -0.24666889,  1.37301442,  0.89199922,
          0.98577551, -0.37524867,  1.59154279,  1.50498784,  0.44373242]),
  '40': array([ 0.53245623,  0.5331743 ,  0.12740034,  0.652254  ,  0.64432897,
          0.95186452,  1.2140814 ,  0.82762196, -0.15945938, -0.26114629,
          1.06188039, -1.21219278,  0.35179419, -0.50507272,  0.27739934,
          0.20966158, -1.62385391,  1.40418623,  0.01429226, -0.95126421,
         -0.13132848, -0.92232902, -0.04046593, -2.30303509,  1.67304389,
         -0.72152481, -1.39997617,  0.27847381, -1.12023729,  0.43983024]),
  '62': array([-0.61141965,  0.7921179 ,  0.6929435 ,  0.29525993,  0.50719135,
          1.51388545, -1.01694052,  0.22424577, -0.2814731 , -0.7965208 ,
         -0.11047707, -1.52109724,  0.50778271,  0.12736555, -1.66935875,
         -0.6034935 , -1.24440235,  0.84991936, -0.72671768, -0.36195455,
          1.26404432, -0.48052527,  1.8714299 , -0.80521481, -0.16918883,
         -0.3992593 , -1.77394201,  0.9272905 , -0.74790485, -1.26223842]),
  '18': array([-1.75273353, -0.88235481,  1.97686758,  0.71822861, -0.35155675,
          0.7557195 , -0.226821  , -0.04724914, -1.41383126,  0.23289429,
         -1.93406457, -0.1744269 ,  0.747813  , -0.32422497,  0.56282807,
          0.39383447, -0.11576245, -0.08939715, -1.74832918, -0.76431396,
         -0.17922813,  1.51859352,  1.65303027,  0.03723507, -0.02964014,
          1.43758431, -0.17010477,  1.37613696,  0.2258648 ,  1.59111646]),
  '14': array([-0.65285226, -0.60648831, -0.9279048 ,  1.74252867,  0.15440267,
         -0.18920402,  0.73941146, -0.28358636, -0.42779149,  1.65687467,
         -0.18515977, -0.53995213, -0.11514224, -1.90052264,  0.07291442,
         -0.49462488, -1.15804512,  1.69286682,  0.10907341, -0.46086332,
         -0.1950821 ,  0.56494632,  0.83210069,  0.37744276,  0.26929484,
         -0.02789965, -0.44269941,  0.44229747, -0.28040618,  0.94105211]),
  '93': array([-1.01280173,  0.91397476, -0.42590426,  0.55631989, -0.85483921,
         -0.90069601,  0.03213124, -0.47489519, -1.77949499,  0.15267865,
          0.39962347, -0.27669078, -1.67906318,  1.66576245, -1.11245556,
         -0.84896912, -1.37025525,  0.61109555, -0.28529171, -0.47000415,
          0.52650282,  1.56378736, -0.41380746,  0.00379078, -0.82536758,
          0.61261357, -1.06626917,  1.29724237, -1.15365429, -1.02125841]),
  '89': array([-0.64264447, -2.11154981, -0.54979187, -0.67153445, -0.18356481,
         -1.64649747,  1.45077332,  1.16391581, -0.01943525,  0.9695591 ,
          1.3362137 , -1.45138079,  0.64439053, -0.9338433 ,  1.53786146,
          0.26783157,  0.87947845, -1.14579592,  0.42449686,  1.2021866 ,
         -0.60647323,  1.10741796,  1.1131262 ,  1.23649114, -0.5329107 ,
         -1.94441685, -1.37245313,  1.2523019 , -2.0816094 , -0.93375767]),
  '56': array([-0.39437496, -2.10671437, -0.64018407, -0.65389323, -0.48766707,
          0.61794388, -0.73682846, -1.45721467,  0.47470346, -0.48316756,
          0.00413144,  1.30959821, -0.15911481,  0.42244566,  0.42761945,
          0.30338051, -0.22969614, -1.49568769, -0.51606873,  0.14072483,
          1.10748832,  1.9188107 , -0.98413058,  0.41726199,  0.61021441,
          0.4934746 ,  0.49544623,  2.11585385, -0.0396708 ,  1.43841491]),
  '64': array([ 1.04260734e-01, -1.51917638e+00, -1.99685918e+00, -5.97541781e-01,
          1.61759384e+00,  1.16515275e+00, -5.56650762e-01, -4.56910131e-01,
          2.32417712e-03, -9.88014811e-01, -1.33085871e+00, -4.45013023e-01,
         -2.08880216e-03,  1.74722731e+00, -1.35841748e-01, -8.14877368e-01,
         -1.26160689e-01, -7.94166412e-02, -1.30908510e+00, -7.97580467e-02,
          1.93917732e-01, -4.45112139e-01, -4.21702230e-01, -6.63950528e-01,
         -3.54910642e+00,  8.91787618e-01, -3.26364586e-01, -1.27336252e-01,
         -1.81081598e-01, -1.02737410e+00])},
 array([[ 0.11302937, -1.2427635 ,  0.56223025, ..., -0.53624293,
          0.43331138,  2.25409871],
        [ 0.47365211, -1.08851437,  1.98866311, ...,  1.59154279,
          1.50498784,  0.44373242],
        [ 0.53245623,  0.5331743 ,  0.12740034, ...,  0.27847381,
         -1.12023729,  0.43983024],
        ...,
        [ 0.69657782,  0.53870576, -0.26398189, ..., -0.36530696,
         -0.5154738 , -0.10859076],
        [ 0.98916846,  1.60883958, -0.01066354, ...,  0.22367861,
          1.25268294, -0.10965702],
        [-0.37648322,  0.34444745, -0.88877765, ..., -0.69597345,
          0.34976274,  0.39740173]]))

In [11]:
id_emb_dic.keys

In [55]:
sample_data = []
colunms_name = ['state', 'action', 'reward', 'n_state', 'recall']
for i in range(10):
    state_len = np.random.randint(1, 12)
    state = [str(val) for val in np.random.choice(ids, size=state_len)]
    n_state = [str(val) for val in np.random.choice(ids, size=state_len)]
    action = str(np.random.choice(ids, size=2)[0])
    reward = np.random.rand()
    recall = [action]
    sample_data.append((state, action, reward, n_state, recall))
data = pd.DataFrame(sample_data, columns=colunms_name)
data.head()

,state,action,reward,n_state,recall
0,"[13, 24]",85,0.523052,"[85, 13]",[85]
1,"[78, 24, 85, 78, 27, 78]",24,0.122173,"[62, 27, 27, 62, 71, 21]",[24]
2,"[27, 62, 21, 21, 41, 71, 71]",78,0.500733,"[41, 85, 57, 13, 62, 41, 71]",[78]
3,[62],62,0.087717,[41],[62]
4,"[78, 78, 85, 13, 78, 24, 71]",24,0.602124,"[24, 21, 41, 24, 41, 78, 62]",[24]

In [66]:
data.iloc[0,1].split('|')

['85']

In [59]:
columns_name = ['state', 'action', 'reward', 'n_state', 'recall']
head = '%s\n' % ('\t'.join(columns_name))
head

'state\taction\treward\tn_state\trecall\n'

In [63]:
sample_data

[(['13', '24'], '85', 0.523052436428529, ['85', '13'], ['85']),
 (['78', '24', '85', '78', '27', '78'],
  '24',
  0.12217279174933815,
  ['62', '27', '27', '62', '71', '21'],
  ['24']),
 (['27', '62', '21', '21', '41', '71', '71'],
  '78',
  0.5007330983135162,
  ['41', '85', '57', '13', '62', '41', '71'],
  ['78']),
 (['62'], '62', 0.0877168131011381, ['41'], ['62']),
 (['78', '78', '85', '13', '78', '24', '71'],
  '24',
  0.6021239805244365,
  ['24', '21', '41', '24', '41', '78', '62'],
  ['24']),
 (['71', '85', '21', '71', '85'],
  '78',
  0.10677159537767589,
  ['57', '27', '85', '62', '57'],
  ['78']),
 (['24', '21', '21', '57', '57', '71', '62', '62', '13', '21'],
  '24',
  0.7621135143313033,
  ['13', '21', '62', '13', '21', '21', '85', '24', '13', '57'],
  ['24']),
 (['24', '13', '78', '78', '78', '57', '85', '57', '57', '78'],
  '27',
  0.2434464956082506,
  ['21', '41', '41', '62', '21', '27', '27', '24', '57', '13'],
  ['27']),
 (['13', '27'], '78', 0.5459625303448458, ['41', '41'], ['78']),
 (['78', '24', '57', '57', '24', '24', '71'],
  '27',
  0.8333660065463657,
  ['13', '71', '21', '78', '21', '78', '24'],
  ['27'])]